page-modal {

    .news img {
        width: 90%;
        max-width: 380px;
    }
    .news p {
        text-indent: 1em;
        display: block;
        text-align: justify;
        line-height: 1.2;
    }
}

.item-md h3 {
    font-size: .7rem;
    line-height: 1;
}